# uses direnv to add bin to tthe path.
# This way rspec will use the spring version automatically.
# https://github.com/zimbatm/direnv
# https://github.com/rails/spring
rvm use 2.5.0@rollbar_test
# layout ruby
PATH_add bin
